.busca {
    background-color: #81FE88;
    color: black;
    padding: 16px 20px;
    border-radius: 8px;
    border: none;
    font-weight: 600;
    cursor: pointer;
}

.icon {
    border: none;
    background-color: transparent;
    cursor: pointer ;
}

