.avatar {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 6px;
}

.textoCinza {
  color: #888888;
}

.textoPreto {
  color: #171D1F;
}

.icon {
  border-radius: 50%;
  object-fit: cover; 
}